.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - $sideBarWidth);
  z-index: 98;
  transition: all .3s;
}

#app {
  .app-wrapper {
    &.hideSidebar {
      .sidebar-container {
        width: $hideSideBarWidth;
      }
      .main-container {
        margin-left: $hideSideBarWidth;
        .fixed-header {
          width: calc(100% - $hideSideBarWidth);
        }
      }
    }
    &.mobile.hideSidebar {
      .sidebar-container {
        width: 0;
        .fixed-header {
          width: 100%;
        }
      }
      .main-container {
        margin-left: 0;
        .fixed-header {
          width: 100%;
        }
      }
    }
    &.mobile.openSidebar {
      .sidebar-container {
        width: $sideBarWidth;
      }
      .main-container {
        margin-left: 0;
        .fixed-header {
          width: 100%;
        }
      }
    }
  }
}
